# Folder view configuration files
.DS_Store
Desktop.ini

# Ignore cache
/.sass-cache
/.cache

# Thumbnail cache files
._*
Thumbs.db

# Application specific files
node_modules
npm-debug.log
bower_components
etc

# Wordpress
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
#wp-content/uploads/
wp-content/wp-cache-config.php

#Custom
/css
/js
/images
/fonts
index.html
source/package-lock.json