extends layouts/layout.jade

block content
  section#wrapper-content
    .container
      h1 Basic structure of themes
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam perferendis expedita ab optio iusto unde, cum eligendi provident dicta molestias iste sint commodi, eos totam doloribus ducimus nihil cupiditate atque ea. Dignissimos non et praesentium similique soluta enim, ea suscipit quaerat nisi ut quae, optio vitae autem, asperiores magnam id.