section#wrapper-footer
  footer.container
    h1 Here goes footer content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat vitae ratione distinctio tempore quia a id aliquam veniam nisi quisquam recusandae dolore quibusdam, culpa aperiam adipisci.