section#wrapper-header
  header.container
    h1 Here goes header content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat vitae ratione distinctio tempore quia a id aliquam veniam nisi quisquam recusandae dolore quibusdam, culpa aperiam adipisci.